<div class="pagination-content">
    <% if(pageNumber != 1) { %>
        <ul class="pagination">
            <%
                // 默认显示...的最大页数
                defaultOverPaging = 3;
            %>
            <% if(pageNumber > defaultOverPaging) {%>
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
                <% for(var i = 1; i <= defaultOverPaging-1; i ++) { %>
                    <li>
                        <a href="/u/username=<%= username %>?p=<%= i %>" class="btn btn-default btn-xs"><%= i %></a>
                    </li>
                <% } %>
                <li>
                    <a  class="btn btn-default">···</a>
                </li>
                <li>
                    <a href="/u/username=<%= username %>?p=<%= pageNumber %>" class="btn btn-default btn-xs"><%= pageNumber %></a>
                </li>
                
            <% } else {%>
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
                <% for(var i = 1; i <= defaultOverPaging -1 ; i ++) { %>
                    <li>
                        <a href="/u/username=<%= username %>?p=<%= i %>" class="btn btn-default btn-xs"><%= i %></a>
                    </li>
                <% } %>
            <% } %>
        </ul>
    <% } %>
</div>