<%- include header %>
    <h4>这是过去发表的所有微博</h4>
    <br>
   <% if(posts.length > 0) { %>
        <% for(var i = 0; i <= posts.length-1; i++ ) { %>
            <% var item = posts[i] %>
            <h3>
                <span class="glyphicon glyphicon-tag"></span>
                <span>
                     <a href="/u/username=<%= item.username %>/title=<%= item.title %>/time=<%= item.time %>"><%= item.title %></a> 
                </span>   
            </h3>    
             <p>
                <span class="text-warn">
                    <span class="glyphicon glyphicon-user"></span>
                    作者: <%= item.username %>
                </span> |
                <span>
                    <span class="glyphicon glyphicon-time"></span>
                    日期: <%= item.time %>
                </span>
            </p>      
            <p><%- item.post %></p>
            <p>==============================</p>
         <% }%> 
   <% }else{ %>
        <p class="bg-info">现在还没有发布任何微博哦！赶快发一个吧~</p>
   <% } %>

<%- include footer %>